.movie{
    background-color: antiquewhite;
    color: black;
    border: 2px solid brown;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 4px;
    text-align: start;
    font-weight: bold;
    width: 23%;
}

.movie img{
    width: 100%;
    height: 300px;
}